[submodule "pd-for-android"]
	path = pd-for-android
	url = https://github.com/libpd/pd-for-android.git
[submodule "PdDroidParty"]
	path = PdDroidParty
	url = https://github.com/b2renger/PdDroidParty.git
